<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1 class="display-3 text-center">Trader Advantage Pro Max</h1>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/">Client View</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/u/admin/settings">Settings</a>
                        </li>
                    </ul>
                    <button id="logout-btn" class="btn pe-5" type="submit">Logout</button>
                    <form id="search-form" class="d-flex" role="search">
                        <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="h-100">
        <section>
            <div class="container px-4 text-center h-100">
                <div class="row gx-5 mt-5 mb-5">
                  <div class="col">
                    <p class="fs-3">Trades to be executed</p>
                   <div class="p-3 border bg-light">
                    <table class="table mt-2">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ticker</th>
                            <th scope="col">Quantity</th>
                          </tr>
                        </thead>
                        <tbody id="trades-table">
                        </tbody>
                      </table>
                   </div>
                  </div>
                  <div class="col">
                    <p class="fs-3">Client Messages</p>
                    <div id="messages-container" class="p-3 border bg-light">

                    </div>
                  </div>
                </div>
              </div>
        </section>
    </main>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/search.js"></script>
</body>

</html>