<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <title>Home</title>
</head>

<body>
    <header>
        <h1 class="display-3 text-center">Trader Advantage Pro Max</h1>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#contact-modal">Contact an Investment Professional</button>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="limiter">
        <section>
            <!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" aria-labelledby="contant-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contant-modal-label">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
        </section>
        <!-- Content Cards -->
        <section class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="./images/anonymous-gc510a9818_640.jpeg" class="card-img-top" alt="anonymous">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at. Neque
                                ornare aenean euismod elementum nisi quis eleifend quam. Turpis massa sed elementum
                                tempus egestas. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Odio
                                facilisis mauris sit amet massa vitae. Fermentum dui faucibus in ornare quam viverra
                                orci sagittis eu. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida.
                                Posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis. Risus pretium quam
                                vulputate dignissim suspendisse in est ante in. Dolor sit amet consectetur adipiscing
                                elit pellentesque. Ultrices tincidunt arcu non sodales. Ut aliquam purus sit amet
                                luctus. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada.
                                Suspendisse interdum consectetur libero id. Laoreet non curabitur gravida arcu ac.
                                Dignissim enim sit amet venenatis urna cursus eget. Sit amet purus gravida quis blandit
                                turpis cursus in.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./images/deal-g9929d2531_640.jpeg" class="card-img-top" alt="business handshake">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Mattis molestie a iaculis at erat.
                                Elit pellentesque habitant morbi tristique. Facilisis mauris sit amet massa. Suspendisse
                                potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Massa id neque aliquam
                                vestibulum morbi blandit. Eleifend quam adipiscing vitae proin sagittis nisl. Phasellus
                                faucibus scelerisque eleifend donec. Gravida cum sociis natoque penatibus et.
                                Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Dignissim
                                sodales ut eu sem integer vitae justo eget. Pharetra massa massa ultricies mi quis
                                hendrerit dolor magna. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim
                                cras. Maecenas volutpat blandit aliquam etiam erat velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./images/options-g6e396e6cc_640.jpeg" class="card-img-top" alt="stocks">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ornare lectus sit amet est. Integer
                                vitae justo eget magna. Tristique sollicitudin nibh sit amet commodo. Est ante in nibh
                                mauris cursus mattis molestie a. Ut etiam sit amet nisl purus in mollis. Magna eget est
                                lorem ipsum dolor sit amet. Etiam dignissim diam quis enim lobortis. Commodo viverra
                                maecenas accumsan lacus vel facilisis volutpat est velit. Arcu risus quis varius quam
                                quisque id diam vel. Dui nunc mattis enim ut tellus elementum sagittis vitae et.
                                Pulvinar sapien et ligula ullamcorper malesuada proin libero. Id volutpat lacus laoreet
                                non curabitur gravida arcu. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./images/coins-gf554493c6_640.jpeg" class="card-img-top" alt="coins">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Hendrerit gravida rutrum quisque
                                non. Ipsum dolor sit amet consectetur adipiscing. Aliquet nec ullamcorper sit amet risus
                                nullam eget felis eget. Scelerisque in dictum non consectetur a erat nam at lectus. Erat
                                nam at lectus urna duis convallis convallis. Felis eget nunc lobortis mattis aliquam.
                                Aenean vel elit scelerisque mauris pellentesque pulvinar. Bibendum at varius vel
                                pharetra vel turpis. Est ante in nibh mauris cursus. A erat nam at lectus urna duis. A
                                arcu cursus vitae congue. Gravida quis blandit turpis cursus. Eleifend mi in nulla
                                posuere sollicitudin. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra
                                orci. Vitae auctor eu augue ut lectus arcu bibendum at varius. Id ornare arcu odio ut
                                sem. Mauris vitae ultricies leo integer malesuada nunc vel. Consectetur adipiscing elit
                                duis tristique sollicitudin nibh sit amet commodo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="./js/homepage.js"></script>
</body>

</html>